{% extends "blog/base.html" %}

{% block content %}
   <div class="content-section">
       <form method="POST" >
           <!-- need to add the csrf token to all forms for security -->
           {% csrf_token %}
           <fieldset class="form-group">
               <legend class="border-bottom mb-4">Join Today</legend>
               <!-- the as_p method helps make the fields in paragraph form -->
               {{ form.as_p }}
           </fieldset>
           <div class="form-group">
               <button class="btn btn-outline-info" type="submit">Sign Up</button>
           </div>
       </form>
       <div class="border-top pt-3">
           <small class="text-muted">
               Already have an account? <a class="ml-2" href="#">Sign In</a>
           </small>
       </div>
   </div>
{% endblock content %}

